#wrapper{
    background-color: green;
    height: 804px;
    width: 1286px;
    margin:auto;
    text-align:center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg");
}


#holder{
    height:700px;
    width:auto;
}
button{
    height:50px;
    width:75px;
    font-size:15pt;
}

img {
    height: 255px;
    width: 255px;
}

#footer{
    /* background-color:red; */
}